.total-screen{
    position: relative;
    height: 100rem;
    overflow-x: hidden;
}

body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    scroll-behavior: none;
    margin-right: 0;
}


.navigation{
    display: flex;
    position:fixed;
    z-index: 4;
    /* top:0%; */
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    background-color:#101010;
    height: 100%;
    max-height: 70px;
}

.logo{
    position: relative;
    max-width: 93px;
    min-width: 93px;
    height: 25px;
    margin-left: 54px;
    top: 48%;
    transform: translateY(-50%);
}

.logo-image-atag{
    position: relative;
    width: 100%;
    height: 100%;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
}

.word-buttons{
    display: flex;
    position: relative;
    margin-left: 47px;
    min-width: 36rem;
    width: 36rem;
    justify-content:space-between;
}

.navigation-button{
    position: relative;
    text-decoration: none;
    top: 50%;
    transform: translateY(-20%);
    color: aliceblue;
}

small{
    position: relative;
    font-size: 14px;
}
/* 아이콘 묶음 */
.icon-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 9rem;
    width: 15rem;
    position: relative;
    margin-right: 5.5rem;

}
/* 돋보기,선물,벨 아이콘 */
.icons{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 1.45rem;
    height: 1.45rem;
}
/* 키즈,프로필 */
.independent-icon{
    position: relative;
    cursor: pointer;
    color: aliceblue;
    top: 50%;
    transform: translateY(-50%);
    border:0px;
    background-color: #101010;
    font-size: 14px;
    height: 2rem;
    border-radius: 4px;
}

/* 화살표 */
.caret{
    position: relative;
    cursor: pointer;
    height: 0.3rem;
    width: 0.78rem;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.35rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;

}

.profile-box{
    display: flex;

}
.logo-and-word-buttons{
    position: relative;
    display: flex;
}

.drama-image{
    position: absolute;
    min-width:100%;    
    z-index: 1;
    background: url("images/assasination_classroom.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;


}


.contents{
    position: relative;
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: center;
    z-index: 2;


}
.contents-box{
    position: relative;
    display: flex;
    width: 93%;
    justify-content: space-between;
    height: 70rem;
    background-position: center;
    z-index: 3;
}

.right-side{
    position: relative;
}

.left-side{
    position: relative;
}

.drama-title{
    position: relative;
    margin-top: 11.35rem;
    width: 34rem;
    height: 14.5rem;
}

.description-sentence{
    margin-top: 1.5rem;
    color: aliceblue;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-box{
    display: flex;
    width: fit-content;
    position: relative;
    margin-top: 1.25rem;

}
.play-button{
    position: relative;
    display: flex;
    width:8.85rem;
    height: 3.2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.play-button:hover{
    opacity: 0.6;
}

.right-pointer{
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    left: 28%;
    top: 53%;
    transform: translate(-50%,-50%);
}

.play-word{
    left: 50%;
    transform: translate(100%,-35%);
    font-size: 20px;
}

.detail-button{
    margin-left: 1rem;
    width:11.5rem;
    height: 3.2rem;
    margin-bottom: 10px;
    background-color: #565352;
    cursor: pointer;
    border: none;
    opacity: 0.8;
    border-radius: 3px;
    display: flex;
}

.detail-button:hover{
    opacity: 0.4;
}

.exclamation-point{
    width:1.7rem;
    height: 1.6rem;
    transform: translate(100%,50%);
    color: #ffffff;
}

.detail-word{
    transform: translate(35%,-40%);
    color: #ffffff;
    font-size: 22px;
    font-weight:normal;

}
.detail-word:hover{
    opacity: 1;
}

.label{
    position: relative;
    width: 6.8rem;
    margin-left: 0.2rem;
    height: 2.5rem;
    background-color: rgba(86, 83, 82,0.7);
}

.age-limit{
    position: relative;
    width: 7rem;
    height: 2.5rem;
    margin-top: 36.4rem;
    display: flex;
    background-color: rgba(255, 255, 255,0.7);
}

.age{
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top:47%;
    width: fit-content;
    margin-left: -1.5rem;
    background-size:auto;
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
}

.empty{
    position: relative;
}
.age-box{
    position:absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60rem;


}




.drama-lay{
    position: absolute;
    width: 4000px;
    /* left: -100%; */
    transform: translateY(-80%);
    height: 17.5rem;
    background-color: #101010;
    overflow: hidden;
    z-index: 4;
 

}

.empty-lay{
    position:relative;
    height: 3rem;
    background-color: aqua;
}

.drama-row{
    position:relative;
    height: 11rem;
    width:  100%;
    display: flex;
    margin-left: 3.1rem;
    background-color:green;
}


.drama{
    position:relative;
    width: 16rem;
    height:9rem;
    border: 2px solid blue;
    background-color: aliceblue;
}